* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-y: scroll;
  min-width: 320px;
  background-color: #ebebeb !important;
}

.container {
  max-width: 930px;
}

.textarea.form-control {
  max-width: 100%;
  min-height: 200px;
}

table.admin-post-list {
  margin-top: 20px;
}

table.admin-post-list tbody > tr > td {
  height: 10px;
  vertical-align: middle;
}

table.admin-post-list tbody > tr > td.post-title {
  text-align: left;
}

img.img-fluid {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: auto;
  margin-right: auto;
}

.noShow {
  display: none;
}

footer p.bold {
  font-size: 24px;
  font-weight: bold;
}

footer p {
  margin: 0;
  font-size: 16px;
}

footer p + p {
  margin-top: 0px;
}

#header.public-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 20vh;
  padding-bottom: 0;
  margin-bottom: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#01000c), color-stop(35%, rgba(255, 255, 255, 0))), url("../img/public_header_background.jpg");
  background-image: linear-gradient(0deg, #01000c 0%, rgba(255, 255, 255, 0) 35%), url("../img/public_header_background.jpg");
  background-position: center 66%;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#header.public-header .container h1 small {
  color: lightgrey;
}

@media screen and (max-width: 1000px) {
  #header.public-header .container h1 small {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #header.public-header .container {
    margin-left: 15px;
    padding-left: 3px;
  }
}

@media screen and (max-width: 620px) {
  #header.public-header .container h1 {
    font-size: calc(16px + 6 * ((100vw) / 380));
  }
}

.blogpost {
  margin-bottom: 12px;
  padding: 12px;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
  border-top: 2px solid #333333;
}

.blogpost .blogpost-cover-container {
  margin: -12px -12px 15px -12px;
}

.blogpost .blogpost-cover-container img {
  max-height: 400px;
}

.blogpost h2.blogpost-title {
  margin: 0px 15px 6px;
  font-weight: bold;
  font-size: 28px;
}

.blogpost .date-posted-container {
  color: gray;
  font-style: italic;
  margin: 0 15px;
}

.blogpost hr {
  margin-bottom: 8px;
}

.blogpost .blogpost-iframe-container iframe {
  width: 100%;
  height: 250px;
}

div.add-new-post-box a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 12px;
  text-align: center;
  font-weight: bold;
  outline: none;
  color: white;
  background-color: #28a745;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  border-radius: 0.25em;
}

div.add-new-post-box a:hover {
  background-color: #269f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2fcb53), color-stop(90%, #269f42));
  background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.5);
}
/*# sourceMappingURL=customStyle.css.map */