body {
  overflow-y: scroll;
  min-width: 320px;
}

.container {
  max-width: 930px;
}

.post-list .blogpost {
  hr {
    margin-bottom: 8px;
  }
  iframe {
    width: 100%;
    height: 250px;
  }
}

textarea.form-control {
  min-height: 200px;
  max-width: 100%;
}

.main-color-bg {
  // background-color: #3b455e !important;
}

table.admin-post-list {
  margin-top: 20px;
  tbody > tr > td {
    height: 10px;
    vertical-align: middle;
    &.post-title {
      text-align: left;
    }
  }
}
