body {
  overflow-y: scroll;
}

.container {
  max-width: 930px;
}

.form-control {
  max-width: 100%;
}

.main-color-bg {
  // background-color: #3b455e !important;
}

table.admin-post-list {
  margin-top: 20px;
  tbody > tr > td {
    height: 10px;
    vertical-align: middle;
    &.post-title {
      text-align: left;
    }
  }
}
