#header.public-header {
  display: flex;
  align-items: flex-end;
  min-height: 20vh;
  padding-bottom: 0;
  margin-bottom: 30px;
  background-image: linear-gradient(
      0deg,
      rgb(1, 0, 12) 0%,
      rgba(255, 255, 255, 0) 35%
    ),
    url("../img/alena-aenami-over-the-city1k.jpg");
  background-position: center 66%;

  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  //desktop first
  .container {
    h1 {
      small {
        color: lightgrey;
      }
    }
    @media screen and (max-width: 1000px) {
      h1 {
        small {
          display: block;
        }
      }
    }
    @media screen and (max-width: 768px) {
      margin-left: 15px;
      padding-left: 3px;
    }
    @media screen and (max-width: 620px) {
      h1 {
        font-size: calc(16px + 6 * ((100vw) / 380));
      }
    }
  }
}
