*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: lightgray;
}

.nav-header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
}

ul {
  display: flex;
  margin-left: 2rem;
  margin-right: auto;
}

li {
  list-style: none;
  margin-right: 1vw;
  text-transform: uppercase;
}


a {
  text-decoration: none;
  text-decoration-line: none;
  color: rgb(24, 23, 23);
}

img {
  width: 3rem;
}

.header-login {
  display: contents;
}

.header-login input,
.header-login button,
.section-default input {
  width: 13vw;
  padding: 8px;
  background: lightgray;
  margin-right: 5px;
  border-radius: 2px;
}

.header-login button,
.wrapper-main button {
  width: 5vw;
  background: black;
  text-transform: uppercase;
  color: white;
}

.header-login button:last-child {
  width: 8vw;
}

.header-login>form {
  display: contents;
}

.nav-header-main div a {
  margin: 1rem;
}

.wrapper-main {
  display: block;
  margin: 1rem auto;
  padding: 1.5rem;
  width: 45vw;
  background-color: white;
  text-align: center;
}

.section-default {
  display: flex;
  flex-direction: column;
}

.section-default>form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-default * {
  margin: .4rem;
}

.section-default .signuperror{
  color: red;
}

.section-default .signupsuccess{
  color: green;
}

.form-signup > button {
  padding: 10px;
  width: 6rem;
}